h1{
    color: black;
    
}
h2{
    color: black;
}
h3{
    color:#003638;
}
html{
    background-image:url('./Images/lion.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 50%;
}
*{
    text-align: center;
 }